.bg{
    background-color: rgb(68, 193, 231);
    border-radius: 5px;
}
.fonts{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
}
.hero1{
    padding-top: 20px; 
}
.bg-image{
    background-image: url("./SL_043021_42650_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
    background-attachment:fixed;
}
