.card-size{
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    overflow: hidden;
}
.card-body{
    background-color: rgb(159, 217, 255);
}
.btn-3 {
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
 
.btn-3:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
      -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
  
.btn-3:hover::after {
    transform: rotate(150deg);
}
  